{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>
            <img src="{{ fixtures[0].league.logo }}" alt="logo"/>
            {{ fixtures[0].league.name }} saison {{ fixtures[0].league.season }}</h2>
        {%  for match in fixtures %}
            {% set fixture = match.fixture %}
            {% set venue = fixture.venue %}
            {% set teams = match.teams %}
        <a class="card match-container" href="{{ path('match_detail', {'id': fixture.id}) }}">
            <div class="card-body match">
                <h6 class="card-subtitle">{{ fixture.date|date("d/m/Y") }} à {{ venue.city }}, {{ venue.name }}</h6>
                <div class="row teams-score">
                    <div class="col text-center team-name {{ teams.home.winner ? 'winner' }}">
                        <p>{{ teams.home.name }}</p>
                        <p class="score">{{ match.goals.home }}</p>
                    </div>
                    <div class="col text-center {{ teams.away.winner ? 'winner' }}">
                        <p>{{ teams.away.name }}</p>
                        <p class="score">{{ match.goals.away }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}